<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:ce="http://typo3.org/ns/TYPO3/CMS/FluidStyledContent/ViewHelpers" data-namespace-typo3-fluid="true">
    <f:if condition="{gallery.rows}">
        <div class="mdlr-gallery {f:if(condition: data.imageborder, then: 'mdlr-variant-border')} {f:if(condition: '{gallery.position.vertical} == \'intext\' && {gallery.position.noWrap} == 0', then: 'mdlr-variant-text')} {f:if(condition: '{gallery.position.vertical} == \'intext\' && {gallery.position.noWrap} == 1', then: 'mdlr-variant-aside')} {f:if(condition: '{gallery.position.horizontal} == \'right\'', then: 'mdlr-variant-right')} {f:if(condition: '{gallery.position.horizontal} == \'left\'', then: 'mdlr-variant-left')}" data-columns="{gallery.count.columns}">
            <f:for each="{gallery.rows}" as="row" iteration="rowIterator">
                <div class="mdlr-gallery-row">
                    <f:for each="{row.columns}" as="column" iteration="columnIterator">
                        <f:if condition="{column.media}">
                            <f:render partial="Media/Type" arguments="{file: column.media, dimensions: column.dimensions, data: data, settings: settings, row: rowIterator.cycle, column: columnIterator.cycle}" />
                        </f:if>
                    </f:for>
                </div>
            </f:for>
        </div>
    </f:if>
</html>