<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <f:argument name="id" type="string" optional="{true}" default="" description="ID of the pattern" />
    <f:argument name="semanticType" type="string" optional="{true}" default="div" description="Semantic type of the pattern (header, nav, main, article, footer, section)" />
    <f:argument name="variants" type="string[]" optional="{true}" default="{}" description="Type of pattern to produce (triptych, triangle, clasped, missing-b, missing-c)" />
    <f:argument name="function" type="string" optional="{true}" default="" description="JavaScript function to apply (scroll)" />
    <f:comment>This component distributes content on a page. Use "template.area" for generic or semantic areas or "page.section" for visually distinct sections.</f:comment>

    <{semanticType} id="{id}" class="mdlr-pattern {f:if(condition: '{variant} != \'\'', then: 'mdlr-variant-{variant} ') -> f:for(each: '{variants}', as: 'variant')} {f:if(condition: '{function} != \'\'', then: 'mdlr-function-{function}')}">
        <f:slot />
    </{semanticType}>
</html>