<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <f:comment>Provides text-input fields along with a text label and placeholder.</f:comment>

    <f:argument name="id" type="string" optional="{false}" description="ID of the field" />
    <f:argument name="type" type="string" optional="{true}" default="text" description="Kind of field to produce (email, date, datetime-local, month, number, password, search, tel, text, textarea, time, url, week)" />
    <f:argument name="name" type="string" optional="{true}" default="" description="Name of the field if different from ID" />
    <f:argument name="value" type="string" optional="{true}" default="" description="Current value of the field" />
    <f:argument name="text" type="string" optional="{false}" description="Text label of the field" />
    <f:argument name="example" type="string" optional="{true}" default="" description="Placeholder indicating sample input" />
    <f:argument name="variants" type="string[]" optional="{true}" default="{}" description="Type of field to produce (tacit, tacit-above-900, tacit-below-900, tacit-above-600, tacit-below-600)" />
    <f:argument name="function" type="string" optional="{true}" default="" description="JavaScript function to apply (-)" />
    <f:argument name="hideLabel" type="bool" optional="{true}" default="{false}" description="Whether to hide the label in special cases" />
    <f:argument name="hidden" type="bool" optional="{true}" default="{false}" description="Whether the field is hidden" />

    <f:variable name="class">mdlr-field</f:variable>
    <f:for each="{variants}" as="variant">
        <f:variable name="class">{class} mdlr-variant-{variant}</f:variable>
    </f:for>
    <f:if condition="{function}">
        <f:variable name="class">{class} mdlr-function-{function}</f:variable>
    </f:if>

    <div{f:if(condition: '{class}', then: ' class="{class}"')}{f:if(condition: '{hidden}', then: ' hidden')}>
        <label for="{id}"{f:if(condition: '{hideLabel}', then: ' class="mdlr-variant-tacit"')}>{text}</label>
        <f:if condition="{type} == 'textarea'">
            <f:then>
                <textarea{f:if(condition: '{id}', then: ' id="{id}"')} name="{f:if(condition: '{name}', then: '{name}', else: '{id}')}"{f:if(condition: '{example}', then: ' placeholder="{example}"')}>{value}</textarea>
            </f:then>
            <f:else>
                <input{f:if(condition: '{id}', then: ' id="{id}"')} type="{type}" name="{f:if(condition: '{name}', then: '{name}', else: '{id}')}"{f:if(condition: '{value}', then: ' value="{value}"')}{f:if(condition: '{example}', then: ' placeholder="{example}"')}>
            </f:else>
        </f:if>
    </div>
</html>