<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <f:argument name="id" type="string" optional="{false}" description="ID of the switch" />
    <f:argument name="name" type="string" optional="{true}" default="" description="Name of the switch if different from ID" />
    <f:argument name="label" type="string" optional="{false}" description="Text label of the switch" />
    <f:argument name="variants" type="string[]" optional="{true}" default="{}" description="Type of switch to produce (-)" />
    <f:argument name="function" type="string" optional="{true}" default="" description="JavaScript function to apply (-)" />
    <f:comment>Provides a checkbox styled as a switch along with a text label.</f:comment>

    <div class="mdlr-switch {f:if(condition: '{variant} != \'\'', then: 'mdlr-variant-{variant} ') -> f:for(each: '{variants}', as: 'variant')} {f:if(condition: '{function} != \'\'', then: 'mdlr-function-{function}')}">
        <input type="checkbox" id="{id}" name="{f:if(condition: '{name} != \'\'', then: '{name}', else: '{id}')}">
        <label for="{id}"><f:format.raw>{label}</f:format.raw></label>
    </div>
</html>